

.mat-card {
    width: 90%;
    margin: 1em auto;
    
}
.mat-list{
    width: 90%;
    min-width: 500px;
    .mat-list-item{
        width: 100%;

        .name{
            width: 40%
        }
        .primary{
            background-color: #3f51b5;
            color: beige;
        }
        .accent{
            background-color: #ff4081;
            color: beige;
        }
    }
    
}

