.mat-card {
  width: 100%;
  padding-bottom: 8em;
  min-width: 300px;

  .mat-list {
    margin-bottom: 2em;
    width: 100%;

    .mat-list-item {
      width: 100%;
      font-size: 10px;
      height: 24px;


      .pair-data-name {
        float: left;
        width: 70%;
        text-align: left;

      }

      .pair-data-option {
        width: 10%;
        float: left;
        text-align: center;
      }

      .pair-data-coefficient {
        width: 10%;
        float: left;
        text-align: center;
      }

      .pair-data-delete {
        width: 10%;
        float: right;
        text-align: center;
      }
    }
  }

  .mat-form-field {
    padding-bottom: 2em;
  }

  .result {
    padding-bottom: 2em;
  }

  .warn {
    color: rgb(255, 0, 0);
    font-size: 10px;
    padding: 2px 2px 2px 2px;
  }
}
