header {
    background: #1f427a;
    height: 80px;
    border: 0 none;
    padding: 20px 20px 0px 20px;

    .logo {
        float: left;
    }



    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    font-size: 13px;
                    padding: 8px 5px 5px 5px!important;
                    color: rgba(255,255,255,.5)!important;
                    margin: 0 5px!important;
                    &:hover {
                        color: #898989!important;
                    }
                }
            }
        }
    }
}