/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    margin: 0 auto;
    background: rgb(239, 239, 239);
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}

body {
    font-size: 18px;
}

.container {
    margin: 0 auto;
    padding: 1.3em;
    display: grid;

    a {
        color: white;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}